# Bibliotecas

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/0 (e.g. pd.read_csv)
import re # for regex
import unicodedata
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from sklearn. feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn. naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.metrics import accuracy_score
import pickle

# Funções

## Normalizador

In [2]:
def norm(s):
    """
    Normaliza o texto colocando em caixa baixa e removendo acentuação/pontuação.

    Parameters
    ----------
    s : str
        Entrada de texto.

    Returns
    -------
    str
        Texto normalizado. Se `s` não for uma string, retorna inalterado.

    Examples
    --------
    >>> norm("Árvore")
    'arvore'

    >>> norm("Fomos à escola ontem, Fernando não estava lá.")
    'fomos a escola ontem fernando nao estava la'
    """
    if not isinstance(s, str):
        return s
        
    s = s.lower()
    s = s.replace("-", " ")
    
    s = ''.join(
        c for c in unicodedata.normalize('NFD', s)
        if unicodedata.category(c) != 'Mn'
    )
  
    return re.sub(r"[^A-Za-zÀ-ÿ ]+", "", s)

# Carregar dados

In [3]:
df_class_words = pd.read_csv('../data/sentilex_v1.0.0.csv', sep = ';')

In [4]:
df_class_words

            word  polarity_n0  polarity_n1
0      à-vontade          1.0          NaN
1        abafado         -1.0          NaN
2       abafante         -1.0          NaN
3       abaixado         -1.0          NaN
4        abalado         -1.0          NaN
...          ...          ...          ...
7009  zombeteiro         -1.0          NaN
7010    zonzeira         -1.0          NaN
7011       zonzo         -1.0          NaN
7012        zote         -1.0          NaN
7013    zumbidor         -1.0          NaN

[7014 rows x 3 columns]

# Entrada de texto

In [5]:
text_neutral = """O evento começou pontualmente às 10h da manhã, conforme anunciado no cronograma. O palestrante principal falou por exatos 45 minutos, cobrindo os tópicos listados na descrição da palestra. Após a apresentação, os participantes foram direcionados ao salão adjacente para o intervalo. A organização informou que a próxima sessão começará em 15 minutos."""

In [6]:
text_positive = """A experiência de hoje foi absolutamente fantástica! Desde o primeiro momento, a equipe demonstrou um profissionalismo e uma simpatia incríveis, superando todas as minhas expectativas. O produto não é apenas bom, é maravilhoso e funciona perfeitamente. A qualidade é evidente em cada detalhe. Estou genuinamente impressionado e muito satisfeito com o resultado. Com certeza recomendo a todos; foi uma escolha excelente e valeu cada centavo!"""

In [7]:
text_negative = """Minha experiência hoje foi absolutamente terrível. Desde o início, o atendimento demonstrou um descaso e uma falta de profissionalismo inacreditáveis, frustrando todas as minhas expectativas. O produto não é apenas ruim, é péssimo e falha constantemente. A baixa qualidade é evidente em cada detalhe. Estou genuinamente decepcionado e muito insatisfeito com o resultado. Com certeza não recomendo a ninguém; foi uma escolha horrível e um desperdício de dinheiro."""

In [8]:
ig_text = "É bem comum as pessoas terem gostos próprios."

In [9]:
dict_texts = {"texts":[text_neutral, text_positive, text_negative, ig_text]}

# Tokenização

Cria um dataframe com os diferentes tipos de texto:

In [10]:
df_texts = pd.DataFrame(dict_texts) 
df_texts["texts"].astype("string")
df_texts.head()

                                               texts
0  O evento começou pontualmente às 10h da manhã,...
1  A experiência de hoje foi absolutamente fantás...
2  Minha experiência hoje foi absolutamente terrí...
3      É bem comum as pessoas terem gostos próprios.

Aplica a normalização nos textos:

In [11]:
df_texts.texts = df_texts.texts.apply(norm).astype("string")
df_class_words.word = df_class_words.word.apply(norm).astype("string")

In [12]:
df_class_words

            word  polarity_n0  polarity_n1
0      a vontade          1.0          NaN
1        abafado         -1.0          NaN
2       abafante         -1.0          NaN
3       abaixado         -1.0          NaN
4        abalado         -1.0          NaN
...          ...          ...          ...
7009  zombeteiro         -1.0          NaN
7010    zonzeira         -1.0          NaN
7011       zonzo         -1.0          NaN
7012        zote         -1.0          NaN
7013    zumbidor         -1.0          NaN

[7014 rows x 3 columns]

In [13]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('punkt_tab')

def rem_stopwords(text):
    stop_words = set(stopwords.words('portuguese'))
    words = word_tokenize(text)
    return [w for w in words if w not in stop_words]

df_texts.texts = df_texts.texts.apply(rem_stopwords)
df_texts.texts[0]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rique\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rique\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\rique\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

['evento',
 'comecou',
 'pontualmente',
 'h',
 'manha',
 'conforme',
 'anunciado',
 'cronograma',
 'palestrante',
 'principal',
 'falou',
 'exatos',
 'minutos',
 'cobrindo',
 'topicos',
 'listados',
 'descricao',
 'palestra',
 'apos',
 'apresentacao',
 'participantes',
 'direcionados',
 'salao',
 'adjacente',
 'intervalo',
 'organizacao',
 'informou',
 'proxima',
 'sessao',
 'comecara',
 'minutos']

Tokeniza o texto:

In [14]:
def stem_txt(text):
    ss = SnowballStemmer('portuguese')
    return " ".join([ss.stem(w) for w in text])
,
df_texts.texts = df_texts.texts.apply(stem_txt)
df_texts.texts[0]

'event comec pontual h manh conform anunc cronogram palestr principal fal exat minut cobr topic list descrica palestr apos apresentaca particip direcion sala adjacent interval organizaca inform proxim sessa comec minut'

In [ ]:
df_test_class_words = df_class_words.copy()
df_test_class_words.word = df_test_class_words.word.apply(rem_stopwords)
df_test_class_words.word = df_test_class_words.word.apply(stem_txt)

In [ ]:
df_test_class_words[df_test_class_words["polarity_n0"].isna()]

In [ ]:
df_test_class_words = df_test_class_words.dropna(subset=["polarity_n0"])

In [ ]:
x = np.array(df_test_class_words.iloc[:,0].values)
y = np.array(df_test_class_words.polarity_n0.values)
cv = CountVectorizer(max_features = 1000)
X = cv.fit_transform(df_test_class_words.word).toarray()
print("X.shape = ", X.shape)
print("y.shape = ", y.shape)

In [ ]:
trainx, testx, trainy, testy = train_test_split(X,y, test_size = 0.2, random_state = 9)
print("Train shapes : X = {}, y = {}".format(trainx.shape, trainy.shape))
print("Test shapes : X = {}, y = {}".format(testx.shape, testy.shape))

In [ ]:
gnb, mnb, bnb = GaussianNB(), MultinomialNB(alpha = 1.0, fit_prior = True), BernoulliNB(alpha = 1.0, fit_prior = True)
gnb.fit(trainx, trainy)
mnb.fit(trainx, trainy)
bnb.fit(trainx, trainy)

In [ ]:
ypg = gnb.predict(testx)
ypm = mnb.predict(testx)
ypb = bnb.predict(testx)

In [ ]:
print("Gaussian = ", accuracy_score(testy, ypg))
print("Multinomial = ", accuracy_score(testy, ypm))
print("Bernoulli = ", accuracy_score(testy, ypb))

In [ ]:
pickle.dump(bnb, open('model1.pkl','wb'))

In [ ]:
nlp = spacy.load('pt_core_news_sm')

text = df_texts.texts[0]
doc = nlp(text)

# Extraindo os tokens
tokens = [token.text for token in doc]
df_text_tokens = pd.DataFrame(tokens)
df_text_tokens.columns = ['word']

In [ ]:
df_text_tokens.head()

# Mesclando dados

In [ ]:
merged = df_text_tokens.merge(
    df_class_words[['word', 'polarity_n0','polarity_n1']],
    on='word',
    how='left'
)

# Removendo valores nulos

In [ ]:
merged = merged.dropna(subset=['polarity_n0'])

# Contando polaridades

In [ ]:
contagem = merged['polarity_n0'].value_counts().reindex([-1, 0, 1], fill_value=0)
contagem

# Checando o resultado

In [ ]:
if (contagem == contagem.max()).sum() > 1:
    resultado = None     # empate
else:
    resultado = contagem.idxmax()

if resultado == 1:
    print("positivo")
elif resultado == -1:
    print("negativo")
else :
    print("neutro")