In [1]:
import spacy
import pandas as pd

# Carregando o modelo de idioma em português
nlp = spacy.load('pt_core_news_sm')
df_class_words = pd.read_csv('sentilex_new.csv', sep = ';')

In [3]:
# Texto de exemplo
text = """A inteligência artificial (IA) está revolucionando a maneira como interagimos com a tecnologia. 
O processamento de linguagem natural (PLN) é uma área crucial da IA, focada em permitir que as máquinas compreendam,
interpretem e gerem a linguagem humana. Tokenização é o primeiro passo nesse processo, onde uma sequência de caracteres
(como este parágrafo) é dividida em unidades menores, chamadas tokens. Estes tokens podem ser palavras, subpalavras,
ou até mesmo caracteres individuais, dependendo do algoritmo utilizado. Por exemplo,
a frase "IA está revolucionando" pode ser tokenizada em ["IA", "está", "revolucionando"]."""

# Aplicando a tokenização
doc = nlp(text)

# Extraindo os tokens
tokens = [token.text for token in doc]
df_text_tokens = pd.DataFrame(tokens)
df_text_tokens.columns = ['word']

In [4]:
# Coletando informações dos tokens em um único DataFrame
dados_tokens = []
for token in doc:
    dados_tokens.append({
        'Token': token.text,
        'Índice de início': token.idx,
        'É pontuação?': token.is_punct,
        'É espaço em branco?': token.is_space,
        'Parte do discurso': token.pos_,
        'Dependência sintática': token.dep_
    })

# Criando DataFrame com os dados dos tokens
df_tokens = pd.DataFrame(dados_tokens)

# Exibindo o DataFrame
df_tokens

,Token,Índice de início,É pontuação?,É espaço em branco?,Parte do discurso,Dependência sintática
0,A,0,False,False,DET,det
1,inteligência,2,False,False,NOUN,nsubj
2,artificial,15,False,False,ADJ,amod
3,(,26,True,False,PUNCT,punct
4,IA,27,False,False,PROPN,appos
...,...,...,...,...,...,...
120,"""",607,True,False,NUM,punct
121,revolucionando,608,False,False,VERB,conj
122,"""",622,True,False,NUM,obj
123,],623,True,False,PUNCT,punct
124,.,624,True,False,PUNCT,punct

In [5]:
import unicodedata

def norm(s):
    if not isinstance(s, str):
        return s
    s = s.lower()
    s = ''.join(c for c in unicodedata.normalize('NFD', s)
                if unicodedata.category(c) != 'Mn')
    return s

In [6]:
df_class_words["word"] = df_class_words["word"].apply(norm)

In [7]:
df_class_words.head()

        word  polarity_n0  polarity_n1
0  a-vontade          1.0          NaN
1    abafado         -1.0          NaN
2   abafante         -1.0          NaN
3   abaixado         -1.0          NaN
4    abalado         -1.0          NaN

In [8]:
df_text_tokens["word"] = df_text_tokens["word"].apply(norm)

In [9]:
df_text_tokens.head()

           word
0             a
1  inteligencia
2    artificial
3             (
4            ia

In [16]:
merged = df_text_tokens.merge(
    df_class_words[['word', 'polarity_n0','polarity_n1']],
    on='word',
    how='left'
)

- limpar melhor o texto

In [20]:
pd.set_option('display.max_rows', None)

# Opcional: configure também para exibir todas as colunas, se necessário
pd.set_option('display.max_columns', None)
merged.head(100)

            word  polarity_n0  polarity_n1
1   inteligencia          1.0          NaN
2     artificial         -1.0          NaN
21       natural          1.0          NaN
28       crucial          0.0          NaN

In [21]:
merged = merged.dropna(subset=['polarity_n0'])

In [25]:
contagem = merged['polarity_n0'].value_counts().reindex([-1, 0, 1], fill_value=0)

In [27]:
contagem.head()

polarity_n0
-1    1
 0    1
 1    2
Name: count, dtype: int64

In [28]:
contagem.to_dict()

{-1: 1, 0: 1, 1: 2}

In [31]:
resultado = contagem.idxmax()
if resultado == 1:
    print("positivo")
elif resutaldo == 0:
    print("neutro")
else:
    print("negativo")

positivo